# Changes here will be overwritten by Copier; NEVER EDIT MANUALLY
{% set template_version = _copier_answers.get(
    '_commit',
    _copier_conf.data.get('_packaged_template_version'),
) -%}
{% set template_source = _copier_conf.data.get(
    '_packaged_template_source',
    _copier_answers.get('_src_path'),
) -%}
{{
    _copier_answers
    | combine({'_commit': template_version, '_src_path': template_source})
    | to_nice_yaml
-}}
