from {{ package }}.domain.decisions import rename_item
from {{ package }}.domain.entities import Item
from {{ package }}.domain.value_objects import ItemId, ItemName


def test_rename_returns_new_state_and_preserves_the_source() -> None:
    item = Item(item_id=ItemId(value="item-1"), name=ItemName(value="Before"))

    renamed = rename_item(item, ItemName(value="  After  "))

    assert renamed.item_id == item.item_id
    assert renamed.name.value == "After"
    assert item.name.value == "Before"
    assert renamed is not item
